body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.News-time{
  color: white;
  font-family:Pacifico ;
  font-size :xx-large;
  font-weight: bold;
  margin-top: 6px;
  margin-right: 20px;
}

.news-body-heading{
  margin: 10px;
  text-align: center;
  font-size: xx-large;
}


*{
  margin: 0;
  padding: 0;
}


nav{
  position: fixed;
  top:0;
  background-color: rgb(44, 44, 44);
  width: 100vw;
  height: 8vh;
}
ul{
  margin-bottom: 10px;
  margin-left: 30px;
  display: flex;
}

li{
  margin-top: 2px;
  height: 7vh;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  font-size:medium;
  list-style: none;
  border: 2px solid white;
  display: flex;
  align-items: center;
  color: white;
}

.hamburger-icon{
  display: none;
}

a{
  text-decoration: none;
  color: white;
}


main{
  margin-top:60px ;
}


.container{
  height: auto;
  width: 90vw;
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-left: 30px ;
  margin-top: 20px;
}

.read{
  text-decoration: none;
  font-size: medium;
  font-weight: lighter;
} 

td{
  border: 2px solid grey;
  height: 60vh;
  width: 30vw;
}

tr{
  top:30px;
}

@media screen and (max-width: 480px) {
  li {
    display: none;
  }
  ul{
    display:flex;
    justify-content:space-around;
  }
  main{
    position:absolute;
    z-index:-1;
  }

  .hamburger-icon{
    display: block;
    width:20px;
    height:50px;
    padding-right: 50px;
    padding-top: 5px;
  }
  .menu-img{
    height:50px;
    width: 50px;
  }

  .menu-items-box{
    width: 50vw;
    display: flex;
    height: auto;
    flex-direction: column;
    display: none;
  }
  .menu-item{
    background-color: rgb(44, 44, 44);
    padding-bottom:10px;
    border: 2px solid white;
    width: 19vw
  }
  img{
    width:80vw;
  }
  tr{
    display:flex;
    flex-direction:column;
  }
  td{
    margin-top: 20px;
    width:80vw;
    height:auto;
  }
  .container{
    width:85vw;
    transform: translateX(-15px);
  }
  .news-body-heading{
    padding-top: 20px;
    font-size: x-large;
  }
  .News-time{
    margin-top: 10px;
    padding-right: 100px;
  }

}
